<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
    <div class="row d-flex justify-content-center">
        <form action="#" method="post" novalidate="novalidate" style="min-width: 300px;" th:action="@{/orders/save}"
              th:object="${orderModel}">
            <h5 class="text-center">Customer form</h5>

            <input th:field="*{id}" type="hidden"/>

            <div class="form-group">
                <input class="form-control" placeholder="CustomerID" th:errorclass="field-error"
                       th:field="*{customerModel}" type="text"/>
                <em th:errors="*{customerModel}" th:if="${#fields.hasErrors('customerModel')}"></em>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="EmployeeID" th:errorclass="field-error"
                       th:field="*{employeeModel}" type="email"/>
                <em th:errors="*{employeeModel}" th:if="${#fields.hasErrors('employeeModel')}"></em>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="OrderDate" th:field="*{orderDate}"
                       type="text"/>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="ShipperID" th:errorclass="field-error"
                       th:field="*{shipperModel}" type="email"/>
                <em th:errors="*{shipperModel}" th:if="${#fields.hasErrors('shipperModel')}"></em>
            </div>

            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>