<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/layout::head"></head>
<head>
    <title>Login - Shop Demo</title>
</head>
<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" method="post" th:action="@{/register}">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input class="form-control form-control-user" id="exampleFirstName"
                                           placeholder="First Name"
                                           name="firstName"
                                           type="text">
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control form-control-user" id="exampleLastName"
                                           placeholder="Last Name"
                                           name="lastName"
                                           type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <input class="form-control form-control-user" id="exampleInputEmail"
                                       placeholder="Email Address"
                                       name="email"
                                       type="email">
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-user" id="exampleInputUsername"
                                       name="username"
                                       placeholder="Username"
                                       type="text">
                            </div>
                            <div class="form-group">
                                    <input class="form-control form-control-user" id="exampleInputPassword"
                                           name="password"
                                           placeholder="Password" type="password">
                            </div>
                            <button class="btn btn-primary btn-user btn-block" type="submit">
                                Register Account
                            </button>
                            <hr>
                            <a class="btn btn-google btn-user btn-block" href="index.html">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a class="btn btn-facebook btn-user btn-block" href="index.html">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="login">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<section th:replace="admin/layout::js"></section>
</body>
</html>
