<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
    <div class="row d-flex justify-content-center">
        <form action="#" method="post" novalidate="novalidate" style="min-width: 300px;" th:action="@{/customers/save}"
              th:object="${customerModel}">
            <h5 class="text-center">Customer form</h5>

            <input th:field="*{id}" type="hidden"/>

            <div class="form-group">
                <input class="form-control" placeholder="Customer name" th:errorclass="field-error"
                       th:field="*{customerName}" type="text"/>
                <em th:errors="*{customerName}" th:if="${#fields.hasErrors('customerName')}"></em>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="Contact name" th:errorclass="field-error"
                       th:field="*{contactName}" type="email"/>
                <em th:errors="*{contactName}" th:if="${#fields.hasErrors('contactName')}"></em>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="Address" th:field="*{address}"
                       type="text"/>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="City" th:field="*{city}"
                       type="text"/>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="Postal Code" th:field="*{postalCode}"
                       type="text"/>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="Country" th:field="*{country}"
                       type="text"/>
            </div>

            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>