<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
    <div class="row">
        <div class="col-6 no-padding">
            <form action="#" class="form-inline" method="get" th:action="@{/customers/search}">
                <input class="form-control mr-sm-2" name="term" placeholder="Search by name ..." type="search"/>
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i> Search
                </button>
            </form>
        </div>

        <div class="col-6 no-padding">
            <a class="btn btn-success float-right" href="#" th:href="@{/customers/add}">
                <i class="fa fa-plus-square"></i> New customer
            </a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 alert alert-success alert-dismissible fade show" role="alert" th:if="${successMessage}">
            <span th:text="${successMessage}"></span>
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <th:block th:if="${#lists.isEmpty(customers)}">
            <h5>No customers</h5>
        </th:block>

        <th:block th:unless="${#lists.isEmpty(customers)}">
            <div class="table-responsive">
                <h5>List of customers</h5>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Customer Name</th>
                        <th>Contact Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Postal Code</th>
                        <th>Country</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="customer,iterStat : ${customers}">
                        <th scope="row" th:text="${iterStat.count}"></th>
                        <td th:text="${customer.customerName}"></td>
                        <td th:text="${customer.contactName}"></td>
                        <td th:text="${customer.address}"></td>
                        <td th:text="${customer.city}"></td>
                        <td th:text="${customer.postalCode}"></td>
                        <td th:text="${customer.country}"></td>
                        <td>
                            <a class="mr-sm-2 text-primary" href="#"
                               th:href="@{/customers/{id}/edit(id=${customer.id})}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="text-danger" href="#" th:href="@{/customers/{id}/delete(id=${customer.id})}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </th:block>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>

</body>
</html>