<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>

<body>
<nav th:replace="layout::header"></nav>

<div class="container" id="main-content">
    <div class="row">
        <div class="col-6 no-padding">
            <form action="#" class="form-inline" method="get" th:action="@{/suppliers/search}">
                <input class="form-control mr-sm-2" name="term" placeholder="search by name ..." type="search"/>
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>Search
                </button>
            </form>
        </div>

        <div class="col-6 no-padding">
            <a class="btn btn-success float-right" href="#" th:href="@{/suppliers/add}">
                <i class="fa fa-plus-sqare"></i> New Supplier
            </a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 alert alert-success alert-dismissible fade show" role="alert" th:if="${successMessage}">
            <span th:text="${successMessage}"></span>
            <button aria-lable="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true"></span>
            </button>
        </div>

        <th:block th:if="${#lists.isEmpty(suppliers)}">
            <h5>No suppliers</h5>
        </th:block>

        <th:block th:unless="${#lists.isEmpty(suppliers)}">
            <div class="table-responsive">
                <h5>List of suppliers</h5>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>SupplierName</th>
                        <th>ContactName</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>PostCode</th>
                        <th>Country</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="supplier,iterStat:${suppliers}">
                        <th scope="row" th:text="${iterStat.count}"></th>
                        <td th:text="${supplier.supplierName}"></td>
                        <td th:text="${supplier.contactName}"></td>
                        <td th:text="${supplier.address}"></td>
                        <td th:text="${supplier.city}"></td>
                        <td th:text="${supplier.postalCode}"></td>
                        <td th:text="${supplier.country}"></td>
                        <td th:text="${supplier.phone}"></td>
                        <td>
                            <a class="mr-sm-2 text-primary" href="#"
                               th:href="@{/suppliers/{id}/edit(id=${supplier.id})}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="text-dange" href="#" th:href="@{/suppliers/{id}/delete(id=${supplier.id})}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </th:block>
    </div>
</div>

<footer th:replace="layout::footer"></footer>
</body>
</html>
