<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
    <div class="row d-flex justify-content-center">
        <form action="#" method="post" novalidate="novalidate" style="min-width: 300px;" th:action="@{/products/save}"
              th:object="${productModel}">
            <h5 class="text-center">Product form</h5>

            <input th:field="*{id}" type="hidden"/>

            <div class="form-group">
                <input class="form-control" placeholder="Product name" th:errorclass="field-error"
                       th:field="*{productName}" type="text"/>
                <em th:errors="*{productName}" th:if="${#fields.hasErrors('productName')}"></em>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="Supplier ID" th:errorclass="field-error"
                       th:field="*{supplierModel}" type="email"/>
                <em th:errors="*{supplierModel}" th:if="${#fields.hasErrors('supplierModel')}"></em>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="Category ID" th:errorclass="field-error"
                       th:field="*{categoryModel}" type="email"/>
                <em th:errors="*{categoryModel}" th:if="${#fields.hasErrors('categoryModel')}"></em>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="Unit" th:field="*{unit}"
                       type="text"/>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="Price" th:field="*{price}"
                       type="text"/>
            </div>

            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>