<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Cart</title>

    <!-- Favicon  -->
    <link rel="shortcut icon" href="../assets/images/logo/favicon.png" th:href="@{/assets/images/logo/favicon.png}" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/font-awesome-4.7.0.min.css" th:href="@{/assets/css/font-awesome-4.7.0.min.css}">
    <link rel="stylesheet" href="../assets/css/bootstrap-4.1.3.min.css" th:href="@{/assets/css/bootstrap-4.1.3.min.css}">

    <link rel="stylesheet" href="../assets/css/style.css" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{carts/css/core-style.css}">
    <link rel="stylesheet" th:href="@{carts/css/style.css}">
    <!-- Core Style CSS -->
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">





</head>

<body>
    <!-- Search Wrapper Area Start -->

    <header  th:replace="viewer/layout::header (imageUrl=${userModel.getImageUrl1()})">

    </header>
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <section class="banner-area banner-area2 menu-bg text-center">
        <div class="container">
            <hr class="row">
                <div class="col-lg-12">
                    <h1><i>Your Cart</i></h1>
                    <p class="pt-2"><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
                </div>

            </div>
        </div>
    </section>
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="https://znews-photo.zadn.vn/w660/Uploaded/jaroin/2017_05_18/2.jpg" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->


        <!-- Header Area Start -->

        <!-- Header Area End -->

        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Shopping Cart</h2>
                        </div>
                        <hr style="height:30px">
                        <div class="cart-table clearfix">
                            <table class="table table-responsive" id="table-products">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Cart Total</h5>
                            <ul class="summary-table">
                                <li><span>subtotal:</span> <span>$140.00</span></li>
                                <li><span>delivery:</span> <span>Free</span></li>
                                <li><span>total:</span> <span id="span-total"></span></li>
                            </ul>
                            <div class="cart-btn mt-100">
                                <a href="cart.html" class="btn amado-btn w-100">Checkout</a>
                            </div>
                            <div class="cart-btn mt-100">
                                <a id="button-clear" class="btn amado-btn w-100">Clear</a>
                            </div>
                        </div>
                    </div>
                    <div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area Start ##### -->

    <!-- ##### Newsletter Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer th:replace="viewer/layout::footer">

    </footer>
    <!-- ##### Footer Area End ##### -->


<section>
    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="../carts/js/jquery/jquery-2.2.4.min.js" th:src="@{/carts/js/jquery/jquery-2.2.4.min.js}"></script>
    <!-- Popper js -->
    <script src="../carts/js/popper.min.js" th:src="@{/carts/js/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script src="../carts/js/bootstrap.min.js" th:src="@{/carts/js/bootstrap.min.js}"></script>
    <!-- Plugins js -->
    <script src="../carts/js/plugins.js" th:src="@{/carts/js/plugins.js}"></script>
    <!-- Active js -->
    <script src="../carts/js/active.js" th:src="@{/carts/js/active.js}" ></script>
    <script src="../carts/js/cart.js" th:src="@{/carts/js/cart.js}" ></script>
</section>
</body>

</html>