<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="viewer/layout::head">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <link rel="stylesheet" href="../assets/css/productDetail.css" th:href="@{/assets/css/productDetail.css}">
</head>

<body>
<header  th:replace="viewer/layout::header (imageUrl=${userModel.getImageUrl1()})">

</header>
<!-- Header Area End -->

<!-- Banner Area Starts -->
<section class="banner-area banner-area2 menu-bg text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><i>Our Menu</i></h1>
                <p class="pt-2"><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
            </div>
        </div>
    </div>
</section>
<div class="container" style="height: 700px;" th:object="${productModel}">
    <br>  <p class="text-center">More bootstrap 4 components on <a href="http://bootstrap-ecommerce.com/"> Bootstrap-ecommerce.com</a></p>
    <hr>


          <div class="col-md-12">
              <ol class="breadcrumb breadcrumb-item" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                  <li ><a th:href="@{/menu}" target="_self"><span itemprop="name">Back To Menu</span></a><meta itemprop="position" content="1"></li>
              </ol>
          </div>
        <div class="row">
            <aside class="col-sm-5 ">
                <article class="gallery-wrap">
                    <div class="img-fluid">
                        <div> <a href="#"><img th:src="${productModel.urlImage}" style="width:400px;max-height:400px"></a></div>
                    </div> <!-- slider-product.// -->

                </article> <!-- gallery-wrap .end// -->
            </aside>
            <aside class="col-sm-7">
                <article class="card-body p-1">
                    <h3 class="title mb-3" th:text="*{productName}"></h3>

                    <p class="price-detail-wrap">
	<span class="price h3 text-warning">
		<span class="currency">US $</span><span class="num" th:text="*{price}"></span>
	</span>

                    </p> <!-- price-detail-wrap .// -->
                    <dl class="item-property">
                        <dt>Description:</dt>
                        <dd th:text="*{description}"></dd>
                    </dl>
                    <dl class="param param-feature">
                        <dt>Category:</dt>
                        <dd th:text="${productModel.categoryModel.getCategoryName()}"></dd>
                    </dl>  <!-- item-property-hor .// -->
                    <dl class="param param-feature">
                        <dt>Product:</dt>
                        <dd th:text="${productModel.supplierModel.getSupplierName()}"></dd>
                    </dl>  <!-- item-property-hor .// -->
                    <!-- item-property-hor .// -->
                    <hr>
                    <div class="row">
                        <div class="col-sm-5">
                            <dl class="param param-inline">
                                <dt>Quantity: </dt>
                                <dd>
                                    <select class="form-control form-control-sm" style="width:70px;">
                                        <option> 1 </option>
                                        <option> 2 </option>
                                        <option> 3 </option>
                                    </select>
                                </dd>
                            </dl>  <!-- item-property .// -->
                        </div> <!-- col.// -->
                        <div class="col-sm-7">
                            <dl class="param param-inline">
                                <dt>Size: </dt>
                                <dd>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <span class="form-check-label">SM</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <span class="form-check-label">MD</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <span class="form-check-label">XXL</span>
                                    </label>
                                </dd>
                            </dl>  <!-- item-property .// -->
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <hr>
                    <a href="#" class="btn btn-lg btn-primary text-uppercase"> Buy now </a>
                    <a href="#" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
                </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
   <!-- card.// -->


</div>
<!-- Preloader End -->


<!-- Header Area End -->

<footer th:replace="viewer/layout::footer">

</footer>
<section th:replace="viewer/layout::js"></section>
</body>
</html>