<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
    <div class="row d-flex justify-content-center">
        <form action="#" method="post" novalidate="novalidate" style="min-width: 300px;" th:action="@{/categories/save}"
              th:object="${categoryModel}">
            <h5 class="text-center">Category form</h5>

            <input th:field="*{id}" type="hidden"/>

            <div class="form-group">
                <input class="form-control" placeholder="Category name" th:errorclass="field-error"
                       th:field="*{categoryName}" type="text"/>
                <em th:errors="*{categoryName}" th:if="${#fields.hasErrors('categoryName')}"></em>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="Description" th:field="*{description}"
                       type="text"/>
            </div>


            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>