<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminLayout::head"></head>
<head>
    <title>Dashboard</title>
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="admin/adminLayout::sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="admin/adminLayout::topbar"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Customers</h1>
                <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For
                    more information about DataTables, please visit the <a href="https://datatables.net"
                                                                           target="_blank">official DataTables
                        documentation</a>.</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Customers Example</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Customer Name</th>
                                    <th>Contact Name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Postal Code</th>
                                    <th>Country</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Customer Name</th>
                                    <th>Contact Name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Postal Code</th>
                                    <th>Country</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="customer,iterStat : ${customers}">
                                    <th scope="row" th:text="${iterStat.count}"></th>
                                    <td th:text="${customer.customerName}"></td>
                                    <td th:text="${customer.contactName}"></td>
                                    <td th:text="${customer.address}"></td>
                                    <td th:text="${customer.city}"></td>
                                    <td th:text="${customer.postalCode}"></td>
                                    <td th:text="${customer.country}"></td>
                                    <td>
                                        <a class="text-primary" href="#"
                                           th:href="@{/customers/{id}/edit(id=${customer.id})}">
                                            <i class="fa fa-edit"></i>

                                        </a>
                                        <a class="text-danger" href="#"
                                           th:href="@{/customers/{id}/delete(id=${customer.id})}">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:fragment="admin/adminLayout::footer"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div th:replace="admin/adminLayout::logoutModal"></div>
<section th:replace="admin/adminLayout::js"></section>
<!-- Page level plugins -->
<script th:src="@{/webjars/startbootstrap-sb-admin-2/4.0.2/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/startbootstrap-sb-admin-2/4.0.2/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Page level custom scripts -->
<script th:src="@{/webjars/startbootstrap-sb-admin-2/4.0.2/js/demo/datatables-demo.js}"></script>
</body>
</html>
