<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminLayout::head"></head>
<head>
    <title>Dashboard</title>
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="admin/adminLayout::sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="admin/adminLayout::topbar"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Customers</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Customer Information</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="float-right">
                            <a class="btn btn-success float-right" data-toggle="modal" data-target="#addCustomer">
                                <i class="fa fa-plus-square"></i> New customer
                            </a>

                            <div class="modal fade" id="addCustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-dark">
                                        <h5 class="modal-title" id="exampleModalLabel">New Customer</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body bg-dark ">
                                        <form action="#" method="post"  th:action="@{/admin/customers}">
                                            <div class="form-group">
                                                <label>Customer Name:</label>
                                                <input class="form-control" placeholder="Customer name"
                                                       type="text" name="customerName"/>
                                            </div>

                                            <div class="form-group">
                                                <label>Contact Name:</label>
                                                <input class="form-control" placeholder="Contact name"
                                                        type="text" name="contactName"/>
                                            </div>

                                            <div class="form-group">
                                                <label>Address:</label>
                                                <input class="form-control" placeholder="Address"
                                                       type="text" name="address"/>
                                            </div>

                                            <div class="form-group">
                                                <label>City:</label>
                                                <input class="form-control" placeholder="City"
                                                       type="text" name="city"/>
                                            </div>

                                            <div class="form-group">
                                                <label>Postal Code:</label>
                                                <input class="form-control" placeholder="Postal Code"
                                                       type="text" name="postalCode"/>
                                            </div>

                                            <div class="form-group">
                                                <label>Country:</label>
                                                <input class="form-control" placeholder="Country"
                                                       type="text" name="country"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" data-dismiss="modal"
                                                        type="button">Close
                                                </button>
                                                <button class="btn btn-primary" type="submit">Save
                                                </button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                       </div>
                        <!--<div id="myAlert" class="col-6  alert-success collapse">-->
                            <!--<a id="linkClose" href="#" class="close">&times;</a>-->
                            <!--<strong>aaaaaaa</strong>-->
                        <!--</div>-->


                        <!--<script type="text/javascript">-->
                            <!--$('#submit').ready(function () {-->
                                <!--$('#submit').click(function () {-->
                                    <!--$('#myAlert').show('fade');-->
                                    <!--setTimeout(function () {-->
                                        <!--$('#myAlert').hide('fade');-->
                                    <!--}, 2000);-->

                                <!--})-->
                            <!--})-->

                        <!--</script>-->

                            <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Customer Name</th>
                                    <th>Contact Name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Postal Code</th>
                                    <th>Country</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Customer Name</th>
                                    <th>Contact Name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Postal Code</th>
                                    <th>Country</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="customer,iterStat : ${customers}">
                                    <th scope="row" th:text="${iterStat.count}"></th>
                                    <td th:text="${customer.customerName}"></td>
                                    <td th:text="${customer.contactName}"></td>
                                    <td th:text="${customer.address}"></td>
                                    <td th:text="${customer.city}"></td>
                                    <td th:text="${customer.postalCode}"></td>
                                    <td th:text="${customer.country}"></td>
                                    <td>
                                        <a class="text-primary" data-toggle="modal"
                                           th:data-target="'#edit-'+${customer.id}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <div aria-hidden="true" aria-labelledby="editCustomer" class="modal fade"
                                             role="dialog" tabindex="-1" th:id="'edit-'+${customer.id}">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content bg-dark">
                                                    <div class="modal-header ">
                                                        <h5 class="modal-title" id="editCustomer">Customers Form</h5>
                                                        <button aria-label="Close" class="close" data-dismiss="modal"
                                                                type="button">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body bg-dark">
                                                        <form action="#" method="post"  th:action="@{/admin/customers}"
                                                              th:object="${customer}">

                                                            <input name="id"  th:value="*{id}" type="hidden" />

                                                            <div class="form-group">
                                                                <label>Customer Name:</label>
                                                                <input class="form-control" placeholder="Customer name"
                                                                       th:value="*{customerName}" type="text" name="customerName"/>
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Contact Name:</label>
                                                                <input class="form-control" placeholder="Contact name"
                                                                       th:value="*{contactName}" type="text" name="contactName"/>
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Address:</label>
                                                                <input class="form-control" placeholder="Address" th:value="*{address}"
                                                                       type="text" name="address"/>
                                                            </div>

                                                            <div class="form-group">
                                                                <label>City:</label>
                                                                <input class="form-control" placeholder="City" th:value="*{city}"
                                                                       type="text" name="city"/>
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Postal Code:</label>
                                                                <input class="form-control" placeholder="Postal Code" th:value="*{postalCode}"
                                                                       type="text" name="postalCode"/>
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Country:</label>
                                                                <input class="form-control" placeholder="Country" th:value="*{country}"
                                                                       type="text" name="country"/>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-secondary" data-dismiss="modal"
                                                                        type="button">Close
                                                                </button>
                                                                <button class="btn btn-primary" type="submit">Save
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <a class="text-danger" data- data-toggle="modal"
                                           th:data-target="'#popup-'+${customer.id}">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <!-- Modal -->
                                        <div aria-hidden="true" aria-labelledby="deleteCustomer" class="modal fade"
                                             role="dialog" tabindex="-1" th:id="'popup-'+${customer.id}">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content ">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-danger" id="deleteCustomer">Warning !!!</h5>
                                                        <button aria-label="Close" class="close" data-dismiss="modal"
                                                                type="button">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body"
                                                         th:text="'Do you want delete '+${customer.customerName}+' ?'">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" data-dismiss="modal"
                                                                type="button">No
                                                        </button>
                                                        <a id="deleteclick" class="btn btn-primary"
                                                           th:href="@{/customers/{id}/delete(id=${customer.id})}">Yes</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:fragment="admin/adminLayout::footer"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div th:replace="admin/adminLayout::logoutModal"></div>
<section th:replace="admin/adminLayout::js"></section>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- Page level plugins -->
<script th:src="@{/webjars/startbootstrap-sb-admin-2/4.0.2/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/startbootstrap-sb-admin-2/4.0.2/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Page level custom scripts -->
<script th:src="@{/webjars/startbootstrap-sb-admin-2/4.0.2/js/demo/datatables-demo.js}"></script>
</body>
</html>
